#hero-banner {
  .hero-banner {
    padding: 10% 0;
    .hero-banner-img {
      @include flexbox;
      height: 100%;
      img {
        width: 100%;
      }
    }
    .hero-banner-text {
      padding-top: 10%;
      span {
        color: $secondary-color;
      }
      &.num {
        font-style: italic;
      }
      h1{
        font-weight: bold;
        margin-bottom: 2.5rem;
      }
      p{
        color: $grey-color;
        padding-right: 2.5rem;
        line-height: 2rem;
      }
    }
  }
}
