#our-offering {
  padding: 5%;
  .our-offering {
    .our-offering-title {
      text-align: center;
      h6 {
        font-style: italic;
        color: $secondary-color;
      }
      h1 {
        margin-bottom: 4%;
      }
    }
    .our-offering-body {
      .prod {
        margin-bottom: 3rem;
        .img {
          position: relative;
          .opacity {
            @include flexbox;
            justify-content: center;
            font-size: 22px;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            transition: all 0.5s ease;
            .opacity-icons {
              opacity: 0;
              transition: opacity 0.3s;
            }
          }
          img {
            height: 400px;
            width: 100%;
            border-radius: 5px;
            object-fit: cover;
            object-position: 50% 50%;
          }
        }
        .detail {
          text-align: center;
          padding-top: 2rem;
          position: relative;
          .add-info {
            position: absolute;
            top: 1%;
            left: 2%;
            padding: 0 13px;
            background-color: $secondary-color;
            color: $white-color;
            font-weight: lighter;
            font-size: 14px;
            &.best-seller {
              background-color: rgb(254, 152, 1);
            }
            &.new-arrival {
              background-color: rgb(1, 210, 142);
            }
          }
          span {
            font-style: italic;
            color: $secondary-color;
          }
          .prices {
            .price {
              font-style: italic;
              &.old-price {
                color: $grey-color;
                opacity: 0.6;
                text-decoration: line-through !important;
              }
            }
          }
        }
        &:hover {
          .opacity {
            background-color: $dark-color;
            opacity: 0.7;
            .opacity-icons {
              opacity: 1;
              .icon {
                color: $white-color;
                border: 1px solid $white-color;
                padding: 25px;
              }
            }
          }
        }
      }
    }
    .view-more {
      text-align: center;
      margin-top: 2rem;
      a {
        background-color: $secondary-color;
        padding: 0.3rem 4.3rem;
        color: $white-color;
        .arrow {
          margin-left: 8px;
        }
      }
    }
  }
}
