#our-offering {
  padding: 5%;
  .our-offering {
    .our-offering-title {
      text-align: center;
      h6 {
        font-style: italic;
        color: $secondary-color;
      }
      h1 {
        margin-bottom: 4%;
      }
    }
    .our-offering-body {
      .prod {
        margin-bottom: 3rem;
        border-radius: 10px;
        background: $bg-color;
        box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
        transition: transform 1s;
        .img {
          overflow: hidden;
          img {
            height: 400px;
            width: 100%;
            object-fit: cover;
            object-position: 50% 50%;
            transform: skew(10deg);
          }
        }
        .detail {
          text-align: center;
          padding-top: 2rem;
          position: relative;
          .add-info {
            position: absolute;
            top: 1%;
            left: 2%;
            padding: 0 13px;
            background-color: $secondary-color;
            color: $white-color;
            font-weight: lighter;
            font-size: 14px;
            &.best-seller {
              background-color: rgb(254, 152, 1);
            }
            &.new-arrival {
              background-color: rgb(1, 210, 142);
            }
          }
          span {
            font-style: italic;
            color: $secondary-color;
          }
          .prices {
            .price {
              font-style: italic;
              &.old-price {
                color: $grey-color;
                opacity: 0.6;
                text-decoration: line-through !important;
              }
            }
          }
        }
        &:hover {
          img {
            transform: skew(0deg);
          }
        }
      }
    }

    .view-more {
      text-align: center;
      margin-top: 2rem;
      a {
        background-color: $secondary-color;
        padding: 0.3rem 4.3rem;
        color: $white-color;
        .arrow {
          margin-left: 8px;
        }
      }
    }
  }
}
