#products {
 .products{
  @include flexbox;
  justify-content: center;
  .product {
    @include flexbox;
    justify-content: center;
    .product-img {
      text-align: center;
      width: 240px;
      position: relative;
      .border-opacity {
        transition: all 0.6s ease;
        position: absolute;
        left: 23%;
        top: 0;
        border: 1px solid $secondary-color;
        border-radius: 50%;
        height: 130px;
        width: 130px;
        &:hover {
          height: 90px;
          width: 90px;
          left: 31%;
          top: 12%;
          background-color: rgba(white, 0.5);
          border: none;
        }
      }
      img {
        width: 130px;
        height: 130px;
        border-radius: 50%;
        padding: 10px;
      }
    }
    h5 {
      margin-top: 20px;
      text-align: center;
    }
    @media only screen and (min-width: 768px) {
      .product-img {
        .border-opacity {
          left: 20%;
          &:hover{
            left: 29%;
            top: 11%;
          }
        }
      }
    }
    @media only screen and (min-width: 992px) {
      .product-img {
        .border-opacity {
          left: 23%;
          &:hover{
            left: 31%;
            top: 12%;
          }
        }
      }
    }
    @media only screen and (min-width: 1400px) {
      .product-img {
        .border-opacity {
          left: 16%;
          &:hover{
            left: 28%;
            top: 11%;
          }
        }
      }
    }
  }
 }
}
