#statics{
    padding: 3rem 0;
    background-color: $bg-color;
    h4{
        color: $secondary-color;
        font-size: 35px;
        font-style: italic;
        text-align: center;
    }
    span{
        text-align: center;
        color: $grey-color;
    }
}