%primary-btn{
    padding: 10px 25px;
    background-color: $primary-color;
    color: $white-color;
    border-radius: 3px;
}
%count-btn{
    padding:5px 15px;
    border: 1px solid $grey-color;
    font-weight: bold;
}