@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;700;800&family=Spectral:ital,wght@0,200;0,500;0,600;0,700;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none !important;
  font-family: "Spectral", serif;
  scroll-behavior: smooth;
  outline: none;
}

.statics .form form .submit {
  padding: 6px 25px;
  background-color: rgb(223, 173, 135);
  color: #fff;
  border-radius: 3px;
  border: 1px solid transparent;
  text-align: center;
  transition: all 0.4s;
}

#not-found {
  display: none;
  height: 100vh;
  text-align: center;
}
#not-found img {
  padding: 10rem;
  -o-object-fit: cover;
     object-fit: cover;
}

body.dark {
  background-color: black;
}
body #dashboard {
  display: flex;
}
body #dashboard #sidebar {
  width: 25%;
  position: fixed;
  z-index: 1;
}
body #dashboard #sidebar .admin {
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: rgba(223, 173, 135, 0.3);
}
body #dashboard #sidebar .admin .admin-img {
  width: 80px;
  height: 80px;
}
body #dashboard #sidebar .admin .admin-img img {
  width: 100%;
}
body #dashboard #sidebar .admin .admin-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 0.5rem;
}
body #dashboard #sidebar .admin .admin-info .admin-name {
  color: rgb(245, 244, 240);
  font-weight: bold;
  color: rgb(60, 22, 23);
  font-size: 20px;
  font-style: italic;
}
body #dashboard #sidebar .admin #checkbox {
  display: none;
}
body #dashboard #sidebar .admin #checkbox:checked ~ .label:hover {
  transform: perspective(100px) rotateX(-5deg) rotateY(5deg);
}
body #dashboard #sidebar .admin #checkbox:checked ~ .label::before {
  left: 25px;
  background-image: linear-gradient(315deg, black 0%, #414141 70%);
  transition: 0.4s;
}
body #dashboard #sidebar .admin .label {
  height: 30px;
  width: 50px;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: inset 0 0 5px 4px rgb(255, 255, 255), inset 0 0 20px 1px rgba(0, 0, 0, 0.488), 10px 20px 30px rgba(0, 0, 0, 0.096), inset 0 0 0 3px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  position: relative;
  transition: transform 0.4s;
}
body #dashboard #sidebar .admin .label:hover {
  transform: perspective(100px) rotateX(5deg) rotateY(-5deg);
}
body #dashboard #sidebar .admin .label::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #000000;
  background-image: linear-gradient(130deg, #757272 10%, #ffffff 11%, #726f6f 62%);
  left: 10px;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3), 10px 10px 10px rgba(0, 0, 0, 0.3);
  transition: 0.4s;
}
body #dashboard #sidebar .sidebar-list {
  height: 100vh;
  background-color: rgb(118, 32, 49);
  padding-left: 0;
}
body #dashboard #sidebar .sidebar-list li {
  padding: 1rem;
  width: 100%;
  font-size: 23px;
  transition: all 0.3s;
}
body #dashboard #sidebar .sidebar-list li:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
body #dashboard #sidebar .sidebar-list li a {
  color: rgb(245, 244, 240);
}
body #dashboard #sidebar .sidebar-list li a i {
  margin-right: 1rem;
}
body #dashboard .statics {
  width: 75%;
  padding: 2rem 1rem;
  position: relative;
  left: 23rem;
}
body #dashboard .statics #search {
  background-color: rgb(245, 244, 240);
}
body #dashboard .statics #cards .cards {
  margin: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
body #dashboard .statics #cards .cards .dash-card {
  padding: 1rem;
  width: 200px;
  background-color: rgb(118, 32, 49);
  border-radius: 8px;
  transition: all 0.5s ease;
  text-align: center;
}
body #dashboard .statics #cards .cards .dash-card a {
  color: #fff;
}
body #dashboard .statics #cards .cards .dash-card .data-count {
  margin-top: 1rem;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.7);
}
body #dashboard .statics #cards .cards .dash-card:hover {
  transform: scale(1.1);
  background-color: rgba(118, 32, 49, 0.8);
}
body #dashboard .statics .chart {
  padding: 2rem;
}
body #dashboard .statics .chart #barchart {
  width: 900px !important;
  height: 450px !important;
}

body.dark {
  background-color: black;
}
body.dark .statics .table-card .table tbody td {
  color: #fff;
}
body .statics input {
  border: 1px solid transparent;
  padding: 5px 25px;
  border-radius: 8px;
  transition: all 0.2s ease-in;
  margin-bottom: 1.5rem;
}
body .statics input:hover {
  border: 1px solid sienna;
}
body .statics .table-card {
  margin: 60px 30px;
}
body .statics .table-card h3 {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body .statics .table-card h3::after {
  content: "";
  border: 2px solid brown;
  width: 120px;
  margin-top: 5px;
}
body .statics .table-card .table tbody td img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
body .statics .table-card .table tbody td .btn {
  color: #fff;
}

.statics .search-sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.statics .search-sort select {
  font-style: italic;
  border: 1px solid rgb(223, 173, 135);
  border-radius: 8px;
  padding: 5px 30px;
  transition: all 0.6s;
}
.statics .search-sort select:hover {
  color: #fff;
  background-image: linear-gradient(90deg, rgb(60, 22, 23), rgb(118, 32, 49), rgb(223, 173, 135));
}
.statics .search-sort select:hover option {
  color: rgb(223, 173, 135);
  padding: 15px;
}

.statics .form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  margin: 1.5rem;
  border: 1px solid rgba(118, 32, 49, 0.8);
  padding: 2rem;
  border-radius: 8px;
}
.statics .form form {
  width: 50%;
}
.statics .form form h2 {
  padding: 1rem;
  text-align: center;
  color: rgb(38, 84, 100);
}
.statics .form form label {
  color: rgba(118, 32, 49, 0.8);
}
.statics .form form input {
  border-radius: 8px;
}
.statics .form form textarea:hover {
  border: 1px solid rgb(118, 32, 49);
}
.statics .form form .submit:hover {
  background-color: rgba(223, 173, 135, 0.6);
  color: black;
}
.statics .blogs h1 {
  text-align: center;
  color: rgb(38, 84, 100);
}
.statics .blogs #blog-cards {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}/*# sourceMappingURL=main.css.map */