header {
  .header-top {
    @include flexbox;
    background-color: $primary-color;
    font-size: 11px;
    padding: 0.3% 10%;
    .top-left {
      @include flexbox;
      gap: 15px;
      .phone {
        a {
          color: $light-color;
        }
      }
      .email {
        a {
          color: $light-color;
        }
      }
    }
    .top-right {
      @include flexbox;
      gap: 30px;
      .icons {
        display: flex;
        gap: 10px;
        a {
          .fa-brands {
            color: $white-color;
          }
        }
      }
      .registr {
        a {
          text-transform: uppercase;
          font-size: 13px;
          color: $light-color;
          margin-left: 10px;
        }
      }
    }
  }

  .header-bg {
    background-image: url("../images/header-bg.jpg") !important;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    height: 100vh;
    &.bg {
      height: 80vh;
    }
    .header-nav {
      @include flexbox;
      padding: 2% 10%;
      &.fixed-nav {
        position: fixed;
        top: 0;
        z-index: 3;
        width: 100%;
        background-color: $white-color;
        padding: 1.5% 10%;
        transition: all 0.3s;
        .logo {
          h4 {
            color: $dark-color;
            span {
              color: $secondary-color;
            }
          }
        }
        .nav-basket {
          nav {
            .nav-ul {
              li {
                a {
                  color: $grey-color;
                }
                &.active {
                  a {
                    color: $secondary-color;
                  }
                }
              }
            }
          }
          .basket {
            .number {
              color: $bg-color;
            }
          }
        }
      }
      .logo {
        h4 {
          text-transform: uppercase;
          font-weight: bold;
          cursor: pointer;
          color: $white-color;
          span {
            color: $grey-color;
          }
        }
      }
      .nav-basket {
        @include flexbox;
        gap: 20px;
        nav {
          .nav-ul {
            @include flexbox;
            margin-bottom: 0;
            gap: 3rem;
            li {
              a {
                text-transform: uppercase;
                color: $grey-color;
                font-size: 14px;
                &:hover {
                  color: $primary-color;
                }
              }
              &.active {
                a {
                  color: $white-color;
                }
              }
              &:hover {
                .dropdown {
                  .dropdown-menu {
                    display: block;
                    line-height: 1.5rem;
                    .dropdown-item {
                      font-size: 14px;
                      color: $grey-color;
                    }
                  }
                }
              }
            }
          }
        }

        .basket {
          position: relative;
          margin: 0 15px;
          cursor: pointer;
          .number {
            position: absolute;
            bottom: 20%;
            left: 55%;
            color: $grey-color;
            background-color: rgba(51, 51, 51, 0.6);
            border-radius: 50%;
            padding: 2% 25%;
          }
        }
      }
      .menu {
        display: none;
        text-transform: uppercase;
        color: $grey-color;
      }
    }
    #my-cart {
      position: fixed;
      z-index: 1;
      top: 3%;
      right: -100%;
      height: 60vh;
      width: 300px;
      background-color: $bg-color;
      text-align: center;
      transition: all .5s ease-in-out;
      .close-cart{
        position: absolute;
        right: 0;
        padding: 5px;
        color: $bg-color;
        border-bottom-left-radius: 8px;
        background-color: $dark-color;
      }
      .my-cart {
        padding-left: .5rem !important;
        .incart {
          margin-top: 2rem;
          padding: 1rem;
          @include flexbox;
       .cart-info{
        display: flex;
        gap: 1rem;
        .img {
          width: 40px;
          height: 100%;
          img {
            width: 100%;
            border-radius: 20%;
          }
        }
        .info {
          color: rgba($dark-color, 0.8);
        }
       }
          .remove-cart {
            color: $secondary-color;
            padding: 5px;
            border-radius: 5px;
            background-color: $light-color;
          }
        }
      }
      .view-all{
        color: $secondary-color;
        font-weight: bold;
        font-size: 18px;
        font-style: italic;
        padding: 1.5rem 0;
      }
    }
    .popup {
      position: absolute;
      width: 60%;
      height: 80%;
      background: transparent;
      border: 2px solid rgba($white-color, 0.5);
      border-radius: 20px;
      backdrop-filter: blur(20px);
      box-shadow: 0 0 30px rgba($dark-color, 0.5);
      @include flexbox;
      justify-content: center;
      z-index: 2;
      top: 18%;
      left: 20%;
      overflow: hidden;
      opacity: 0;
      transition: opacity 0.2s ease;

      .close-popup {
        font-size: 20px;
        padding: 10px 15px;
        color: $white-color;
        position: absolute;
        top: 0;
        right: 0;
        background-color: $secondary-color;
        border-bottom-left-radius: 45%;
      }
      .form-box {
        width: 70%;
        padding: 1.5rem;
        &.login {
          transition: transform 0.18s ease;
          transform: translateX(0);
        }
        &.register {
          position: absolute;
          transition: none;
          transform: translateX(1000px);
          .register-btn {
            @extend %primary-btn;
            margin: 1rem 0;
          }
          .agree {
            color: $light-color;
          }
        }
        h2 {
          font-weight: bolder;
          text-align: center;
          color: $white-color;
          margin-top: 10px;
        }
        .input-box {
          display: flex;
          flex-direction: column;
          position: relative;
          width: 100%;
          height: 50px;
          border-bottom: 2px solid $light-color;
          margin: 30px 0;
          color: $bg-color;
          input {
            border: none;
            background-color: rgb(94, 90, 84);
            color: $bg-color;
          }
        }
        .remember-forget {
          color: $bg-color;
          @include flexbox;
          input {
            accent-color: $primary-color;
          }
          a {
            color: $bg-color;
            &:hover {
              text-decoration: underline !important;
            }
          }
        }
        .login-btn {
          @extend %primary-btn;
          padding: 5px 15px;
          margin: 0.5rem 0;
        }
        .login-register {
          text-align: center;
          color: $white-color;
          a {
            color: $light-color;
          }
        }
      }
      &.active {
        .login {
          transition: none;
          transform: translateX(-1000px);
        }
        .register {
          transition: transform 0.18s ease;
          transform: translateX(0);
        }
      }
    }
    .title {
      height: 70%;
      @include flexbox;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      &.about {
        justify-content: flex-end;
        h1 {
          font-size: 55px;
        }
        .about-links {
          a {
            color: rgba($white-color, 0.7);
            margin-right: 10px;
            .fa-chevron-right {
              color: rgba($white-color, 0.7);
            }
            &:hover {
              color: $secondary-color;
              .fa-chevron-right {
                color: $secondary-color;
              }
            }
          }
        }
      }
      .text {
        transform: rotate(-4deg);
      }

      h1 {
        font-size: 80px;
        color: $white-color;
        span {
          -webkit-text-fill-color: transparent;
          -webkit-text-stroke: 1px;
        }
      }
      .links {
        margin-top: 30px;
        a {
          @extend %primary-btn;
          &.read-more {
            border: 1px solid $white-color;
            background-color: transparent;
            &:hover {
              @extend %primary-btn;
            }
          }
        }
      }
    }
  }
  .header-bottom {
    background-color: $secondary-color;
    .content {
      color: $white-color;
      &.delivery {
        background-color: $primary-color;
      }
      &.cash-back {
        background-image: linear-gradient(
          90deg,
          $primary-color,
          $secondary-color
        );
      }
      .img {
        margin-top: 10%;
      }
      .text {
        padding: 5%;
        width: 70%;
        p {
          color: rgb(226, 200, 186);
          line-height: 2rem;
        }
      }
    }
  }
  @media only screen and (max-width: 1024px) {
    .header-bg {
      .header-nav {
        flex-wrap: wrap;
        .nav-basket {
          nav {
            display: none;
          }
        }
        .menu {
          display: block;
        }
      }
      &.bg {
        .header-nav {
          flex-wrap: wrap;
          .nav-basket {
            nav {
              display: none;
            }
          }
          .menu {
            display: block;
          }
        }
      }
    }
    .header-bg {
      .title {
        .text {
          h1 {
            font-size: 40px;
          }
        }
      }
    }
    .header-bottom {
      .content {
        flex-direction: column;
        .text {
          width: 100%;
          padding-left: 0;
        }
      }
    }
  }
  @media only screen and (max-width: 767px) {
    .header-bg {
      .popup {
        width: 80%;
        height: 85%;
        left: 10%;
        top: 10%;
      }
    }
  }
  @media only screen and (max-width: 576px) {
    .header-top {
      flex-direction: column;
      .top-left {
        gap: 4rem;
      }
      .top-right {
        gap: 4rem;
      }
    }
    .header-bg {
      .popup {
        width: 95%;
        height: 85%;
        left: 1.5%;
        top: 13%;
        .form-box {
          width: 100%;
        }
        .title {
          .text {
            h1 {
              font-size: 30px;
            }
          }
        }
      }
    }
    @media only screen and (max-width: 375px) {
      .title {
        .text {
          .links {
            display: flex;
            flex-direction: column;
            gap: 15px;
          }
        }
      }
    }
  }
}
