header {
  .header-top {
    @include flexbox;
    background-color: $primary-color;
    font-size: 11px;
    padding: 0.3% 10%;
    .top-left {
      @include flexbox;
      gap: 15px;
      .phone {
        a {
          color: $light-color;
        }
      }
      .email {
        a {
          color: $light-color;
        }
      }
    }
    .top-right {
      @include flexbox;
      gap: 30px;
      .icons {
        display: flex;
        gap: 10px;
        a {
          .fa-brands {
            color: $white-color;
          }
        }
      }
      .registr {
        a {
          text-transform: uppercase;
          font-size: 13px;
          color: $light-color;
          margin-left: 10px;
        }
      }
    }
  }

  .header-bg {
    background-image: url("../images/header-bg.jpg") !important;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    &.bg {
      height: 60vh;
    }
    .header-nav {
      @include flexbox;
      padding: 2% 10%;
      &.fixed-nav {
        position: fixed;
        top: 0;
        z-index: 2;
        width: 100%;
        background-color: $white-color;
        padding: 1.5% 10%;
        transition: all .3s;
        .logo {
          h4 {
            color: $dark-color;
            span{
              color: $secondary-color;
            }
          }
        }
        .nav-basket {
          nav {
            .nav-ul {
              li {
                a {
                  color: $grey-color;
                }
                &.active {
                  a{
                    color: $secondary-color;
                  }
                }
              }
            }
          }
        }
      }
      .logo {
        h4 {
          text-transform: uppercase;
          font-weight: bold;
          cursor: pointer;
          color: $white-color;
          span {
            color: $grey-color;
          }
        }
      }
      .nav-basket {
        @include flexbox;
        gap: 20px;
        nav {
          .nav-ul {
            @include flexbox;
            margin-bottom: 0;
            gap: 3rem;
            li {
              a {
                text-transform: uppercase;
                color: $grey-color;
                font-size: 14px;
                &:hover {
                  color: $primary-color;
                }
              }
              &.active {
               a{
                color: $white-color;
               }
              }
              &:hover {
                .dropdown {
                  .dropdown-menu {
                    display: block;
                    line-height: 1.5rem;
                    .dropdown-item {
                      font-size: 14px;
                      color: $grey-color;
                    }
                  }
                }
              }
            }
          }
        }

        .basket {
          position: relative;
          margin: 0 15px;
          cursor: pointer;
          .quantity {
            position: absolute;
            bottom: 20%;
            left: 55%;
            color: $grey-color;
            background-color: rgba(51, 51, 51, 0.6);
            border-radius: 50%;
            padding: 2% 25%;
          }
        }
      }
      .menu {
        display: none;
        text-transform: uppercase;
        color: $grey-color;
      }
    }
    .title {
      height: 70%;
      @include flexbox;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      &.about {
        justify-content: flex-end;
        h1 {
          font-size: 55px;
        }
        .about-links {
          a {
            color: rgba($white-color, 0.7);
            margin-right: 10px;
            .fa-chevron-right {
              color: rgba($white-color, 0.7);
            }
            &:hover {
              color: $secondary-color;
              .fa-chevron-right {
                color: $secondary-color;
              }
            }
          }
        }
      }
      .text {
        transform: rotate(-4deg);
      }

      h1 {
        font-size: 80px;
        color: $white-color;
        span {
          -webkit-text-fill-color: transparent;
          -webkit-text-stroke: 1px;
        }
      }
      .links {
        margin-top: 30px;
        a {
          @extend %primary-btn;
          &.read-more {
            border: 1px solid $white-color;
            background-color: transparent;
            &:hover {
              @extend %primary-btn;
            }
          }
        }
      }
    }
    // .header-title-nav {
    //   height: 100%;
    //   @include flexbox;
    //   justify-content: center;
    // }
  }
  .header-bottom {
    background-color: $secondary-color;
    .content {
      color: $white-color;
      &.delivery {
        background-color: $primary-color;
      }
      &.cash-back {
        background-image: linear-gradient(
          90deg,
          $primary-color,
          $secondary-color
        );
      }
      .img {
        margin-top: 10%;
      }
      .text {
        padding: 5%;
        width: 70%;
        p {
          color: rgb(226, 200, 186);
          line-height: 2rem;
        }
      }
    }
  }
  @media only screen and (max-width: 991px) {
    .header-nav {
      flex-wrap: wrap;
      .nav-basket {
        nav {
          display: none;
        }
      }
      .menu {
        display: block;
      }
    }
    .header-bg {
      .title {
        .text {
          h1 {
            font-size: 40px;
          }
        }
      }
    }
    .header-bottom {
      .content {
        flex-direction: column;
        .text {
          width: 100%;
          padding-left: 0;
        }
      }
    }
  }
  @media only screen and (max-width: 576px) {
    .header-top {
      flex-direction: column;
      .top-left {
        gap: 4rem;
      }
      .top-right {
        gap: 4rem;
      }
    }
    .header-bg {
      .title {
        .text {
          h1 {
            font-size: 30px;
          }
        }
      }
    }
  }
  @media only screen and (max-width: 375px) {
    .header-bg {
      .title {
        .text {
          .links {
            display: flex;
            flex-direction: column;
            gap: 15px;
          }
        }
      }
    }
  }
}
