#dashboard {
  display: flex;
  #sidebar {
    width: 25%;
    position: fixed;
    .admin {
      padding: 2rem 0;
      @include flexbox;
      flex-direction: column;
      background-color: rgb(223, 173, 135, 0.3);
      .admin-img {
        width: 80px;
        height: 80px;
        img {
          width: 100%;
        }
      }
      .admin-info {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 0.5rem;
        .admin-name {
          color: $bg-color;
          font-weight: bold;
          color: $secondary-color;
          font-size: 20px;
          font-style: italic;
        }
      }
    }
    .sidebar-list {
      height: 100vh;
      background-color: $red-color;
      padding-left: 0;
      li {
        padding: 2rem;
        width: 100%;
        font-size: 25px;
        transition: all 0.3s;
        &:hover {
          background-color: rgba($white-color, 0.5);
        }
        a {
          color: $bg-color;
          i {
            margin-right: 1rem;
          }
        }
      }
    }
  }

  .statics {
    width: 75%;
    padding: 2rem 1rem;
    position: relative;
    left: 23rem;
    background-color: $bg-color;
    #cards {
      .cards {
        margin: 1rem;
        @include flexbox;
        .dash-card {
          padding: 4rem;
          background-color: $red-color;
          border-radius: 8px;
          transition: all 0.5s ease;
          a {
            color: $white-color;
          }
          &:hover {
            transform: scale(1.1);
            background-color: rgba($red-color, 0.8);
          }
        }
      }
    }
    .chart {
      padding: 2rem;
      #barchart {
        width: 900px !important;
        height: 450px !important;
      }
    }
  }
}
