%add-btn{
    padding: 6px 25px;
    background-color: $primary-color;
    color: $white-color;
    border-radius: 3px;
    border: 1px solid transparent;
    text-align: center;
    transition: all .4s;
}
