#detail {
  padding: 4rem;
  .detail {
    @include flexbox;
    .detail-img {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 20%;
      }
    }
    .detail-info {
      @include flexbox;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      gap: 20px;
      height: 100%;
      h4 {
        color: $secondary-color;
        font-weight: bold;
      }
      p {
        color: $grey-color;
        font-style: italic;
        padding: 0 1rem;
      }
    }
  }
  @media only screen and (max-width: 767px) {
    .detail {
      flex-direction: column;
      .detail-img {
        width: 80%;
        margin-bottom: 1rem;
      }
      .detail-info{
        p{
            padding: .3rem;
        }
      }
    }
  }
}

#related {
  padding: 3rem;
  h1 {
    font-size: 45px;
    color: $primary-color;
  }
  .related {
    .related-img {
      img {
        width: 100%;
      }
    }
    .related-info {
      text-align: center;
      font-style: italic;
      h4 {
        text-transform: uppercase;
        color: $light-color;
      }
    }
  }
}
