@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;700;800&family=Spectral:ital,wght@0,200;0,500;0,600;0,700;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none !important;
  font-family: "Spectral", serif;
  scroll-behavior: smooth;
  outline: none;
}

#favs .favs .fav .fav-content .remove, #billing .payment .order, #cart-total .total-price a, #desc .btns button, #product-single .prod-info .buy, #product-single .prod-info .add-cart, #contact-icons .map .contact-us .input-text .submit, header .header-bg .title .links a.read-more:hover, header .header-bg .title .links a, header .header-bg .popup .form-box .login-btn, header .header-bg .popup .form-box.register .register-btn {
  padding: 10px 25px;
  background-color: rgb(162, 63, 37);
  color: #fff;
  border-radius: 3px;
  border: 1px solid transparent;
  text-align: center;
  transition: all 0.4s;
}

#product-single .prod-info button {
  padding: 5px 15px;
  border: 1px solid rgb(119, 127, 130);
  font-weight: bold;
}

.burger-menu {
  display: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.8);
}
.burger-menu .burger-menu-close {
  display: flex;
  justify-content: flex-end;
  margin: 30px;
  font-size: 20px;
  color: #fff;
}
.burger-menu .burger-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
.burger-menu .burger-nav ul li {
  margin: 20px 0;
}
.burger-menu .burger-nav ul li a {
  position: relative;
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
  color: rgb(183, 71, 42);
}
.burger-menu .burger-nav ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  bottom: -6px;
  height: 3px;
  background-color: #fff;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.5s;
}
.burger-menu .burger-nav ul li a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}
.burger-menu .burger-nav ul li.mobile-dropdown.show .dropdown-menu {
  display: block;
  background-color: rgba(255, 255, 255, 0.5);
  transform: translate(150px);
}
.burger-menu .burger-nav ul li.mobile-dropdown.show .dropdown-menu a {
  color: rgb(183, 71, 42);
}
@media only screen and (max-width: 1024px) {
  .burger-menu.show-burger {
    display: block;
  }
}

header .header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(162, 63, 37);
  font-size: 11px;
  padding: 0.3% 10%;
}
header .header-top .top-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
header .header-top .top-left .phone a {
  color: rgb(218, 178, 168);
}
header .header-top .top-left .email a {
  color: rgb(218, 178, 168);
}
header .header-top .top-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
header .header-top .top-right .icons {
  display: flex;
  gap: 10px;
}
header .header-top .top-right .icons a .fa-brands {
  color: #fff;
}
header .header-top .top-right .registr a {
  text-transform: uppercase;
  font-size: 13px;
  color: rgb(218, 178, 168);
  margin-left: 10px;
}
header .header-bg {
  background-image: url("../images/header-bg.jpg") !important;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  height: 100vh;
}
header .header-bg.bg {
  height: 80vh;
}
header .header-bg .header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 10%;
}
header .header-bg .header-nav.fixed-nav {
  position: fixed;
  top: 0;
  z-index: 4;
  width: 100%;
  background-color: #fff;
  padding: 1.5% 10%;
  transition: all 0.3s;
}
header .header-bg .header-nav.fixed-nav .logo h4 {
  color: black;
}
header .header-bg .header-nav.fixed-nav .logo h4 span {
  color: rgb(183, 71, 42);
}
header .header-bg .header-nav.fixed-nav .nav-basket nav .nav-ul li a {
  color: rgb(119, 127, 130);
}
header .header-bg .header-nav.fixed-nav .nav-basket nav .nav-ul li.active a {
  color: rgb(183, 71, 42);
}
header .header-bg .header-nav.fixed-nav .nav-basket .basket .number {
  color: rgb(245, 244, 240);
}
header .header-bg .header-nav .logo h4 {
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
}
header .header-bg .header-nav .logo h4 span {
  color: rgb(119, 127, 130);
}
header .header-bg .header-nav .nav-basket {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
header .header-bg .header-nav .nav-basket nav .nav-ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  gap: 3rem;
}
header .header-bg .header-nav .nav-basket nav .nav-ul li a {
  text-transform: uppercase;
  color: rgb(119, 127, 130);
  font-size: 14px;
}
header .header-bg .header-nav .nav-basket nav .nav-ul li a:hover {
  color: rgb(162, 63, 37);
}
header .header-bg .header-nav .nav-basket nav .nav-ul li.active a {
  color: #fff;
}
header .header-bg .header-nav .nav-basket nav .nav-ul li:hover .dropdown .dropdown-menu {
  display: block;
  line-height: 1.5rem;
}
header .header-bg .header-nav .nav-basket nav .nav-ul li:hover .dropdown .dropdown-menu .dropdown-item {
  font-size: 14px;
  color: rgb(119, 127, 130);
}
header .header-bg .header-nav .nav-basket .basket {
  position: relative;
  margin: 0 15px;
  cursor: pointer;
}
header .header-bg .header-nav .nav-basket .basket .number {
  position: absolute;
  bottom: 20%;
  left: 55%;
  color: rgb(119, 127, 130);
  background-color: rgba(51, 51, 51, 0.6);
  border-radius: 50%;
  padding: 2% 25%;
}
header .header-bg .header-nav .menu {
  display: none;
  text-transform: uppercase;
  color: rgb(119, 127, 130);
}
header .header-bg #my-cart {
  position: fixed;
  z-index: 1;
  top: 3%;
  right: -100%;
  height: 60vh;
  width: 300px;
  background-color: rgb(245, 244, 240);
  text-align: center;
  transition: all 0.5s ease-in-out;
}
header .header-bg #my-cart .close-cart {
  position: absolute;
  right: 0;
  padding: 5px;
  color: rgb(245, 244, 240);
  border-bottom-left-radius: 8px;
  background-color: black;
}
header .header-bg #my-cart .my-cart {
  padding-left: 0.5rem !important;
}
header .header-bg #my-cart .my-cart .incart {
  margin-top: 2rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header-bg #my-cart .my-cart .incart .cart-info {
  display: flex;
  gap: 1rem;
}
header .header-bg #my-cart .my-cart .incart .cart-info .img {
  width: 40px;
  height: 100%;
}
header .header-bg #my-cart .my-cart .incart .cart-info .img img {
  width: 100%;
  border-radius: 20%;
}
header .header-bg #my-cart .my-cart .incart .cart-info .info {
  color: rgba(0, 0, 0, 0.8);
}
header .header-bg #my-cart .my-cart .incart .remove-cart {
  color: rgb(183, 71, 42);
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(218, 178, 168);
}
header .header-bg #my-cart .view-all {
  color: rgb(183, 71, 42);
  font-weight: bold;
  font-size: 18px;
  font-style: italic;
  padding: 1.5rem 0;
}
header .header-bg .popup {
  position: absolute;
  width: 50%;
  height: 80%;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  z-index: 2;
  top: 18%;
  left: 20%;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.2s ease;
}
header .header-bg .popup .close-popup {
  font-size: 20px;
  padding: 10px 15px;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgb(183, 71, 42);
  border-bottom-left-radius: 45%;
}
header .header-bg .popup .form-box {
  width: 75%;
  padding: 1.5rem;
}
header .header-bg .popup .form-box.login {
  transition: transform 0.18s ease;
  transform: translateX(0);
}
header .header-bg .popup .form-box.register {
  position: absolute;
  transition: none;
  transform: translateX(1000px);
}
header .header-bg .popup .form-box.register .register-btn {
  margin: 0.5rem 0;
  padding: 3px 15px;
}
header .header-bg .popup .form-box.register .agree {
  color: rgb(218, 178, 168);
}
header .header-bg .popup .form-box h2 {
  font-weight: bolder;
  text-align: center;
  color: #fff;
  margin-top: 10px;
}
header .header-bg .popup .form-box .input-box {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid rgb(218, 178, 168);
  margin: 30px 0;
  color: rgb(245, 244, 240);
}
header .header-bg .popup .form-box .input-box input {
  border: none;
  background-color: rgb(94, 90, 84);
  color: rgb(245, 244, 240);
}
header .header-bg .popup .form-box .remember-forget {
  color: rgb(245, 244, 240);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header-bg .popup .form-box .remember-forget input {
  accent-color: rgb(162, 63, 37);
}
header .header-bg .popup .form-box .remember-forget a {
  color: rgb(245, 244, 240);
}
header .header-bg .popup .form-box .remember-forget a:hover {
  text-decoration: underline !important;
}
header .header-bg .popup .form-box .login-btn {
  padding: 5px 15px;
  margin: 0.5rem 0;
}
header .header-bg .popup .form-box .login-register {
  text-align: center;
  color: #fff;
}
header .header-bg .popup .form-box .login-register a {
  color: rgb(218, 178, 168);
}
header .header-bg .popup.active .login {
  transition: none;
  transform: translateX(-1000px);
}
header .header-bg .popup.active .register {
  transition: transform 0.18s ease;
  transform: translateX(0);
}
header .header-bg .title {
  height: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
header .header-bg .title.about {
  justify-content: flex-end;
}
header .header-bg .title.about h1 {
  font-size: 55px;
}
header .header-bg .title.about .about-links a {
  color: rgba(255, 255, 255, 0.7);
  margin-right: 10px;
}
header .header-bg .title.about .about-links a .fa-chevron-right {
  color: rgba(255, 255, 255, 0.7);
}
header .header-bg .title.about .about-links a:hover {
  color: rgb(183, 71, 42);
}
header .header-bg .title.about .about-links a:hover .fa-chevron-right {
  color: rgb(183, 71, 42);
}
header .header-bg .title .text {
  transform: rotate(-4deg);
}
header .header-bg .title h1 {
  font-size: 80px;
  color: #fff;
}
header .header-bg .title h1 span {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px;
}
header .header-bg .title .links {
  margin-top: 30px;
}
header .header-bg .title .links a.read-more {
  border: 1px solid #fff;
  background-color: transparent;
}
header .header-bottom {
  background-color: rgb(183, 71, 42);
}
header .header-bottom .content {
  color: #fff;
}
header .header-bottom .content.delivery {
  background-color: rgb(162, 63, 37);
}
header .header-bottom .content.cash-back {
  background-image: linear-gradient(90deg, rgb(162, 63, 37), rgb(183, 71, 42));
}
header .header-bottom .content .img {
  margin-top: 10%;
}
header .header-bottom .content .text {
  padding: 5%;
  width: 70%;
}
header .header-bottom .content .text p {
  color: rgb(226, 200, 186);
  line-height: 2rem;
}
@media only screen and (max-width: 1024px) {
  header .header-bg .header-nav {
    flex-wrap: wrap;
  }
  header .header-bg .header-nav .nav-basket nav {
    display: none;
  }
  header .header-bg .header-nav .menu {
    display: block;
  }
  header .header-bg.bg .header-nav {
    flex-wrap: wrap;
  }
  header .header-bg.bg .header-nav .nav-basket nav {
    display: none;
  }
  header .header-bg.bg .header-nav .menu {
    display: block;
  }
  header .header-bg .title .text h1 {
    font-size: 40px;
  }
  header .header-bottom .content {
    flex-direction: column;
  }
  header .header-bottom .content .text {
    width: 100%;
    padding-left: 0;
  }
}
@media only screen and (max-width: 767px) {
  header .header-bg .popup {
    width: 80%;
    height: 85%;
    left: 10%;
    top: 10%;
  }
}
@media only screen and (max-width: 576px) {
  header .header-top {
    flex-direction: column;
  }
  header .header-top .top-left {
    gap: 4rem;
  }
  header .header-top .top-right {
    gap: 4rem;
  }
  header .header-bg .popup {
    width: 95%;
    height: 85%;
    left: 1.5%;
    top: 13%;
  }
  header .header-bg .popup .form-box {
    width: 100%;
  }
  header .header-bg .popup .title .text h1 {
    font-size: 30px;
  }
}
@media only screen and (max-width: 576px) and (max-width: 375px) {
  header .title .text .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 15px;
  }
}

footer .footer-top {
  background-color: rgb(26, 26, 26);
  padding-top: 5%;
}
footer .footer-top .liquer-store {
  color: rgb(245, 251, 251);
}
footer .footer-top .liquer-store h5 {
  text-transform: uppercase;
  margin-bottom: 10%;
}
footer .footer-top .liquer-store h5 span {
  color: rgb(119, 127, 130);
}
footer .footer-top .liquer-store p {
  width: 60%;
}
footer .footer-top .liquer-store .footer-icons {
  display: flex;
  gap: 8%;
}
footer .footer-top .liquer-store .footer-icons a {
  color: rgb(218, 178, 168);
  padding: 11px 18px;
  border-radius: 50%;
  background-color: rgb(183, 71, 42);
}
footer .footer-top .footer-col h5 {
  color: #fff;
  margin-bottom: 20px;
}
footer .footer-top .footer-col ul {
  padding-left: 0;
}
footer .footer-top .footer-col ul li {
  line-height: 40px;
}
footer .footer-top .footer-col ul li a {
  color: rgb(119, 127, 130);
}
footer .footer-top .footer-col .contact {
  display: flex;
  gap: 7%;
}
footer .footer-top .footer-col .contact a {
  color: rgb(119, 127, 130);
}
footer .footer-top .footer-col .contact a .fa-map {
  color: #fff;
}
footer .footer-top .footer-col .contact span {
  color: rgb(119, 127, 130);
}
footer .footer-top .footer-col .contact.contact {
  margin: 8% 0;
}
footer .footer-bottom {
  background-color: black;
  padding: 2% 0;
  color: rgb(119, 127, 130);
}
footer .footer-bottom .copyright {
  display: flex;
  align-items: center;
}
footer .footer-bottom .copyright p {
  font-size: 13px;
  margin-bottom: 0;
}

#hero-banner .hero-banner {
  padding: 10% 0;
}
#hero-banner .hero-banner .hero-banner-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#hero-banner .hero-banner .hero-banner-img img {
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}
#hero-banner .hero-banner .hero-banner-text {
  padding-top: 8%;
}
#hero-banner .hero-banner .hero-banner-text span {
  color: rgb(183, 71, 42);
}
#hero-banner .hero-banner .hero-banner-text.num {
  font-style: italic;
}
#hero-banner .hero-banner .hero-banner-text h1 {
  font-weight: bold;
  margin: 0.5rem 0 2.5rem 0;
}
#hero-banner .hero-banner .hero-banner-text p {
  color: rgb(119, 127, 130);
  padding-right: 10%;
  line-height: 2rem;
}
@media only screen and (max-width: 1200px) {
  #hero-banner .hero-banner .hero-banner-text p {
    padding-right: 5%;
  }
}
@media only screen and (max-width: 991px) {
  #hero-banner .hero-banner .hero-banner-img img {
    height: 700px;
  }
}
@media only screen and (max-width: 767px) {
  #hero-banner .hero-banner .hero-banner-img img {
    height: 450px;
  }
}

#products .products {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}
#products .products .product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}
#products .products .product .product-img {
  text-align: center;
  width: 240px;
  position: relative;
}
#products .products .product .product-img .border-opacity {
  transition: all 0.6s ease;
  position: absolute;
  left: 23%;
  top: 0;
  border: 1px solid rgb(183, 71, 42);
  border-radius: 50%;
  height: 130px;
  width: 130px;
}
#products .products .product .product-img .border-opacity:hover {
  height: 90px;
  width: 90px;
  left: 31%;
  top: 12%;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
}
#products .products .product .product-img img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  padding: 10px;
}
#products .products .product h5 {
  margin-top: 20px;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  #products .products .product .product-img .border-opacity {
    left: 20%;
  }
  #products .products .product .product-img .border-opacity:hover {
    left: 29%;
    top: 11%;
  }
}
@media only screen and (min-width: 992px) {
  #products .products .product .product-img .border-opacity {
    left: 23%;
  }
  #products .products .product .product-img .border-opacity:hover {
    left: 31%;
    top: 12%;
  }
}
@media only screen and (min-width: 1400px) {
  #products .products .product .product-img .border-opacity {
    left: 16%;
  }
  #products .products .product .product-img .border-opacity:hover {
    left: 28%;
    top: 11%;
  }
}

#our-offering {
  padding: 5%;
}
#our-offering .our-offering .our-offering-title {
  text-align: center;
}
#our-offering .our-offering .our-offering-title h6 {
  font-style: italic;
  color: rgb(183, 71, 42);
}
#our-offering .our-offering .our-offering-title h1 {
  margin-bottom: 4%;
}
#our-offering .our-offering .our-offering-body .prod {
  margin-bottom: 3rem;
}
#our-offering .our-offering .our-offering-body .prod .img {
  position: relative;
}
#our-offering .our-offering .our-offering-body .prod .img .opacity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  transition: all 0.5s ease;
}
#our-offering .our-offering .our-offering-body .prod .img .opacity .opacity-icons {
  opacity: 0;
  transition: opacity 0.3s;
}
#our-offering .our-offering .our-offering-body .prod .img .opacity .opacity-icons .icon {
  color: #fff;
  border: 1px solid #fff;
  padding: 25px;
}
#our-offering .our-offering .our-offering-body .prod .img img {
  height: 400px;
  width: 100%;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}
#our-offering .our-offering .our-offering-body .prod .detail {
  text-align: center;
  padding-top: 2rem;
  position: relative;
}
#our-offering .our-offering .our-offering-body .prod .detail .add-info {
  position: absolute;
  top: 1%;
  left: 2%;
  padding: 0 13px;
  background-color: rgb(183, 71, 42);
  color: #fff;
  font-weight: lighter;
  font-size: 14px;
}
#our-offering .our-offering .our-offering-body .prod .detail .add-info.best-seller {
  background-color: rgb(254, 152, 1);
}
#our-offering .our-offering .our-offering-body .prod .detail .add-info.new-arrival {
  background-color: rgb(1, 210, 142);
}
#our-offering .our-offering .our-offering-body .prod .detail span {
  font-style: italic;
  color: rgb(183, 71, 42);
}
#our-offering .our-offering .our-offering-body .prod .detail .prices .price {
  font-style: italic;
}
#our-offering .our-offering .our-offering-body .prod .detail .prices .price.old-price {
  color: rgb(119, 127, 130);
  opacity: 0.6;
  text-decoration: line-through !important;
}
#our-offering .our-offering .our-offering-body .prod:hover .opacity {
  background-color: black;
  opacity: 0.7;
}
#our-offering .our-offering .our-offering-body .prod:hover .opacity .opacity-icons {
  opacity: 1;
}
#our-offering .our-offering .view-more {
  text-align: center;
  margin-top: 2rem;
}
#our-offering .our-offering .view-more a {
  background-color: rgb(183, 71, 42);
  padding: 0.3rem 4.3rem;
  color: #fff;
}
#our-offering .our-offering .view-more a .arrow {
  margin-left: 8px;
}

#blog {
  padding: 3rem 0;
}
#blog .blog-title {
  text-align: center;
}
#blog .blog-title h6 {
  font-style: italic;
  color: rgb(183, 71, 42);
}
#blog .blog-title h1 {
  margin-bottom: 4%;
}
#blog .blog {
  display: flex;
}
#blog .blog .blog-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}
#blog .blog .blog-content {
  background-color: rgb(245, 244, 240);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1.5rem;
}
#blog .blog .blog-content .date {
  color: rgb(119, 127, 130);
}
#blog .blog .blog-content p {
  line-height: 30px;
  color: rgb(119, 127, 130);
}
#blog .blog .blog-content a {
  color: rgb(183, 71, 42);
  display: flex;
  align-items: center;
}
#blog .blog .blog-content a .arrow {
  margin-left: 10px;
}
@media only screen and (max-width: 991px) {
  #blog .blog {
    flex-direction: column;
  }
  #blog .blog .blog-img img {
    height: 250px;
  }
}

#happy-clients {
  background-image: url("../images/bg_4.jpg");
  background-position: center;
  background-size: cover;
  height: 80vh;
}
#happy-clients .opacity {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
#happy-clients .opacity .happy-clients .happy-clients-title {
  padding: 3rem 0;
  color: #fff;
  text-align: center;
}
#happy-clients .opacity .happy-clients .owl-carousel {
  position: relative;
}
#happy-clients .opacity .happy-clients .owl-carousel .item {
  border: 1px solid rgb(119, 127, 130);
  padding: 1.5rem;
  margin: 30px 20px 0 0;
}
#happy-clients .opacity .happy-clients .owl-carousel .item .fa-quote-left {
  background-color: rgb(183, 71, 42);
  padding: 10px;
  border-radius: 50%;
  color: #fff;
  font-size: 20px;
  position: absolute;
  top: 4%;
  left: 5%;
}
#happy-clients .opacity .happy-clients .owl-carousel .item p {
  color: #fff;
  font-style: italic;
  line-height: 26px;
  margin-bottom: 2.5rem;
}
#happy-clients .opacity .happy-clients .owl-carousel .item .client {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}
#happy-clients .opacity .happy-clients .owl-carousel .item .client img {
  width: 90px;
  border-radius: 50%;
}
#happy-clients .opacity .happy-clients .owl-carousel .item .client .client-info {
  color: #fff;
}
#happy-clients .opacity .happy-clients .owl-carousel .owl-dots .owl-dot {
  border: 1px solid rgb(119, 127, 130);
  border-radius: 50%;
  margin: 2rem 0.2rem;
}
#happy-clients .opacity .happy-clients .owl-carousel .owl-dots .owl-dot span {
  width: 1px;
  height: 1px;
  display: block;
  transition: all 0.2s ease;
  background-color: transparent;
}
#happy-clients .opacity .happy-clients .owl-carousel .owl-dots .owl-dot.active {
  background-color: rgb(183, 71, 42);
}

#statics {
  padding: 3rem 0;
  background-color: rgb(245, 244, 240);
}
#statics h4 {
  color: rgb(183, 71, 42);
  font-size: 35px;
  font-style: italic;
  text-align: center;
}
#statics span {
  text-align: center;
  color: rgb(119, 127, 130);
}

#our-team {
  padding: 4rem 0;
}
#our-team .our-team-title {
  text-align: center;
  margin-bottom: 5rem;
}
#our-team .our-team-title p {
  color: rgb(119, 127, 130);
}
#our-team .team-member .team-member-img {
  position: relative;
}
#our-team .team-member .team-member-img .img img {
  width: 100%;
}
#our-team .team-member .team-member-img .hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: opacity 0.6s ease;
}
#our-team .team-member .team-member-img .hover .social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
#our-team .team-member .team-member-img .hover .social-icons a {
  position: relative;
  opacity: 0;
  transform: translateY(-20px);
  color: #fff;
  display: inline-block;
  font-size: 20px;
  transition: opacity 0.3s ease-out, transform 0.4s ease-in-out;
}
#our-team .team-member .team-member-img .hover .social-icons a::before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  display: block;
  width: 0;
  border: 1px solid transparent;
  transition: width 0.3s ease-out;
}
#our-team .team-member .team-member-img .hover .social-icons a:hover::before {
  width: 100%;
  border: 1px solid #fff;
}
#our-team .team-member .team-member-img:hover .hover {
  opacity: 1;
}
#our-team .team-member .team-member-img:hover .hover .social-icons a {
  opacity: 1;
  transform: translateY(0);
}
#our-team .team-member .team-member-img:hover .hover .social-icons a:nth-child(1) {
  transition-delay: 50ms;
}
#our-team .team-member .team-member-img:hover .hover .social-icons a:nth-child(2) {
  transition-delay: 0.15s;
}
#our-team .team-member .team-member-img:hover .hover .social-icons a:nth-child(3) {
  transition-delay: 0.2s;
}
#our-team .team-member .team-member-info {
  text-align: center;
  padding: 20px;
}
#our-team .team-member .team-member-info p {
  color: rgb(119, 127, 130);
}

#contact-icons {
  padding: 3rem 0;
  background-color: rgb(245, 244, 240);
}
#contact-icons .contact-icons .icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
#contact-icons .contact-icons .icon .fa-solid {
  font-size: 25px;
  color: #fff;
  padding: 35px 40px;
  border-radius: 50%;
  background-color: rgb(183, 71, 42);
  margin-bottom: 1rem;
}
#contact-icons .contact-icons .icon p {
  color: rgb(119, 127, 130);
  width: 250px;
}
#contact-icons .contact-icons .icon p span {
  font-weight: bolder;
  color: black;
  font-size: 18px;
}
#contact-icons .contact-icons .icon p a {
  color: rgb(162, 63, 37);
}
#contact-icons .map {
  padding: 5rem 0;
}
#contact-icons .map .contact-us {
  background-color: #fff;
  padding: 2rem;
}
#contact-icons .map .contact-us .input-text {
  display: flex;
  flex-direction: column;
  margin: 1.3rem 0;
}
#contact-icons .map .contact-us .input-text label {
  color: rgb(183, 71, 42);
  font-size: 18px;
  font-weight: bold;
}
#contact-icons .map .contact-us .input-text input {
  border: none;
  border-bottom: 1px solid rgb(218, 178, 168);
  padding: 20px 0;
}
#contact-icons .map .contact-us .input-text textarea {
  border: none;
  border-bottom: 1px solid rgb(218, 178, 168);
  padding-top: 0.5rem;
  color: rgb(119, 127, 130);
}
#contact-icons .map .contact-us .input-text .submit {
  max-width: 250px;
}

#products {
  padding: 3rem 0;
}
#products .prods .select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
#products .prods .select select {
  border: none;
  color: rgb(119, 127, 130);
}
#products .prods .prod {
  margin-bottom: 3rem;
}
#products .prods .prod .img {
  position: relative;
}
#products .prods .prod .img .opacity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  transition: all 0.5s ease;
}
#products .prods .prod .img .opacity .opacity-icons {
  opacity: 0;
  transition: opacity 0.3s;
}
#products .prods .prod .img .opacity .opacity-icons .icon {
  border: 1px solid #fff;
  padding: 20px;
  color: #fff;
}
#products .prods .prod .img img {
  height: 400px;
  width: 100%;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}
#products .prods .prod .detail {
  text-align: center;
  padding-top: 2rem;
  position: relative;
}
#products .prods .prod .detail .add-info {
  position: absolute;
  top: 1%;
  left: 2%;
  padding: 0 13px;
  background-color: rgb(183, 71, 42);
  color: #fff;
  font-weight: lighter;
  font-size: 14px;
}
#products .prods .prod .detail .add-info.best-seller {
  background-color: rgb(254, 152, 1);
}
#products .prods .prod .detail .add-info.new-arrival {
  background-color: rgb(1, 210, 142);
}
#products .prods .prod .detail span {
  font-style: italic;
  color: rgb(183, 71, 42);
}
#products .prods .prod .detail .prices .price {
  font-style: italic;
}
#products .prods .prod .detail .prices .price.old-price {
  color: rgb(119, 127, 130);
  opacity: 0.6;
  text-decoration: line-through !important;
}
#products .prods .prod:hover .opacity {
  background-color: black;
  opacity: 0.7;
}
#products .prods .prod:hover .opacity .opacity-icons {
  opacity: 1;
}
#products .types-blogs {
  padding-left: 2rem;
}
#products .types-blogs .types ul {
  padding-left: 0;
}
#products .types-blogs .types ul li {
  border-bottom: 1px solid rgb(119, 127, 130);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#products .types-blogs .types ul li:nth-child(6) {
  border-bottom: none;
}
#products .types-blogs .types ul li a {
  color: rgb(119, 127, 130);
  font-size: 14px;
  line-height: 3.5rem;
}
#products .types-blogs .blogs {
  margin-top: 2rem;
}
#products .types-blogs .blogs .blog {
  display: flex;
  margin-bottom: 2rem;
  gap: 10px;
}
#products .types-blogs .blogs .blog img {
  width: 30%;
  height: 100px;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}
#products .types-blogs .blogs .blog .content a {
  color: rgb(119, 127, 130);
  font-size: 13px;
}
#products .types-blogs .blogs .blog .content span {
  color: rgb(119, 127, 130);
  font-size: 13px;
}
#products nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}
#products nav .pagination .page-item .page-link {
  border-radius: 50%;
  padding: 5px 15px;
  border: 1px solid rgba(119, 127, 130, 0.4);
  color: rgb(183, 71, 42);
  margin: 0.2rem;
}
#products nav .pagination .page-item.active .page-link {
  background-color: rgb(183, 71, 42);
  color: #fff;
}

#product-single {
  padding: 4rem 0;
}
#product-single .prod-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}
#product-single .prod-info {
  padding: 2rem 3rem 2rem 2rem;
}
#product-single .prod-info .score {
  display: flex;
  gap: 2rem;
}
#product-single .prod-info .score .fa-star {
  color: rgb(183, 71, 42);
}
#product-single .prod-info h3 {
  margin: 2rem 0;
}
#product-single .prod-info p {
  color: rgb(119, 127, 130);
  line-height: 30px;
  margin-bottom: 2rem !important;
  font-size: 15px;
}
#product-single .prod-info input {
  padding: 5px 15px;
  text-align: center;
  width: 100px;
}
#product-single .prod-info .pieces {
  margin: 1rem 0;
}
#product-single .prod-info .add-cart {
  padding: 15px 40px;
  margin-right: 10px;
  font-weight: lighter;
}
#product-single .prod-info .buy {
  padding: 15px 35px;
  font-weight: lighter;
}
@media only screen and (max-width: 476px) {
  #product-single .prod-info .score {
    flex-direction: column;
  }
  #product-single .prod-info .btns {
    display: flex;
    flex-direction: column;
  }
  #product-single .prod-info .btns .add-cart {
    margin-bottom: 1rem;
    text-align: center;
  }
}

#desc {
  margin: 3rem 0;
}
#desc .btns {
  display: flex;
  gap: 20px;
}
#desc .btns button {
  background-color: rgb(242, 242, 242);
  color: black;
  padding: 15px 25px;
  font-size: 25px;
  margin-bottom: 2rem;
}
#desc .btns button.active-btn {
  background-color: rgb(183, 71, 42);
  color: #fff;
}
#desc .btns button:hover {
  background-color: rgb(162, 63, 37);
  color: #fff;
}
#desc .text {
  padding: 2rem 4rem 2rem 2rem;
  background-color: rgb(245, 244, 240);
}
#desc .text h3 {
  margin-bottom: 2rem;
}
#desc .text.review-content {
  padding-right: 2rem;
}
#desc .text.review-content .review {
  display: flex;
  gap: 20px;
  margin-bottom: 2rem;
}
#desc .text.review-content .review img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
#desc .text.review-content .review .comment {
  padding-right: 2rem;
}
#desc .text.review-content .review .comment .user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#desc .text.review-content .review .comment .user h6 {
  margin-bottom: 0;
}
#desc .text.review-content .review .comment .user span {
  color: rgb(119, 127, 130);
  padding-left: 5px;
}
#desc .text.review-content .review .comment .stars {
  color: rgb(183, 71, 42);
}
#desc .text.review-content .review.bold {
  margin: 3rem 0;
}
#desc .give-review {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}
#desc .give-review .stars .fa-star {
  color: rgb(183, 71, 42);
}
@media only screen and (max-width: 991px) {
  #desc .give-review {
    flex-direction: column;
  }
}
@media only screen and (max-width: 767px) {
  #desc .btns {
    flex-direction: column;
  }
  #desc .text {
    padding: 1rem;
  }
  #desc .give-review {
    flex-direction: row;
  }
}
@media only screen and (max-width: 767px) {
  #desc .text.review-content .review {
    flex-direction: column;
    align-items: center;
  }
  #desc .text.review-content .review .comment {
    padding-right: 0.4rem;
  }
}

#my-cart {
  margin: 5rem 0;
}
#my-cart .table-scroll {
  overflow-x: scroll;
}
#my-cart .table-scroll .my-cart {
  min-width: 1200px;
  width: 100%;
}
#my-cart .table-scroll .my-cart thead {
  background-color: rgb(162, 63, 37);
}
#my-cart .table-scroll .my-cart thead tr th {
  padding: 30px;
  color: #fff;
  font-size: 20px;
}
#my-cart .table-scroll .my-cart tbody tr td {
  padding: 10px;
}
#my-cart .table-scroll .my-cart tbody tr td .check {
  accent-color: rgb(183, 71, 42);
}
#my-cart .table-scroll .my-cart tbody tr td img {
  width: 100px;
  height: 100px;
}
#my-cart .table-scroll .my-cart tbody tr td .product p {
  color: rgb(119, 127, 130);
}
#my-cart .table-scroll .my-cart tbody tr td .price {
  color: rgb(119, 127, 130);
}
#my-cart .table-scroll .my-cart tbody tr td .input-number {
  width: 60px;
  padding: 10px;
  border: 1px solid rgb(218, 178, 168);
}
#my-cart .table-scroll .my-cart tbody tr td .fa-xmark {
  color: rgb(183, 71, 42);
}

#cart-total {
  margin-bottom: 5rem;
  background-image: url("../images/whisky.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#cart-total .total-price {
  padding: 2rem 1.5rem;
  background-color: rgba(0, 0, 0, 0.5);
}
#cart-total .total-price h4 {
  color: #fff;
  font-weight: bolder;
}
#cart-total .total-price ul {
  padding-left: 0;
}
#cart-total .total-price ul li {
  font-size: 20px;
  color: #fff;
  margin: 2rem 0;
  border-bottom: 1px solid rgb(184, 153, 94);
}
#cart-total .total-price ul li div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#cart-total .total-price ul li div .all {
  font-weight: bold;
  font-size: 22px;
}
#cart-total .total-price a {
  background-color: rgb(181, 114, 23);
  opacity: 0.8;
}
#cart-total .total-price a:hover {
  opacity: 1;
}

#billing {
  padding: 6rem 0;
}
#billing .detail {
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin: 1rem 0;
}
#billing .detail label {
  color: rgb(162, 63, 37);
  font-size: 18px;
}
#billing .detail input {
  padding: 15px;
  border: 1px solid rgb(218, 178, 168);
}
#billing .payment .method {
  margin: 2rem 0;
  color: rgb(119, 127, 130);
}
#billing .payment .method input {
  margin-right: 0.5rem;
  accent-color: rgb(162, 63, 37);
}
#billing .onway {
  background: #009688;
  overflow: hidden;
}
#billing .onway .loop-wrapper {
  margin: 0 auto;
  position: relative;
  display: block;
  width: 600px;
  height: 250px;
  overflow: hidden;
  border-bottom: 3px solid #fff;
}
#billing .onway .loop-wrapper .mountain {
  position: absolute;
  right: -900px;
  bottom: -20px;
  width: 2px;
  height: 2px;
  box-shadow: 0 0 0 50px #4db6ac, 60px 50px 0 70px #4db6ac, 90px 90px 0 50px #4db6ac, 250px 250px 0 50px #4db6ac, 290px 320px 0 50px #4db6ac, 320px 400px 0 50px #4db6ac;
  transform: rotate(130deg);
  animation: mtn 20s linear infinite;
}
#billing .onway .loop-wrapper .hill {
  position: absolute;
  right: -900px;
  bottom: -50px;
  width: 400px;
  border-radius: 50%;
  height: 20px;
  box-shadow: 0 0 0 50px #4db6ac, -20px 0 0 20px #4db6ac, -90px 0 0 50px #4db6ac, 250px 0 0 50px #4db6ac, 290px 0 0 50px #4db6ac, 620px 0 0 50px #4db6ac;
  animation: hill 4s 2s linear infinite;
}
#billing .onway .loop-wrapper .tree {
  position: absolute;
  height: 100px;
  width: 35px;
  bottom: 0;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/130015/tree.svg) no-repeat;
  animation: tree 3s 0s linear infinite;
}
#billing .onway .loop-wrapper .tree:nth-child(2) {
  position: absolute;
  height: 100px;
  width: 35px;
  bottom: 0;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/130015/tree.svg) no-repeat;
  animation: tree2 2s 0.15s linear infinite;
}
#billing .onway .loop-wrapper .tree:nth-child(3) {
  position: absolute;
  height: 100px;
  width: 35px;
  bottom: 0;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/130015/tree.svg) no-repeat;
  animation: tree3 8s 0.05s linear infinite;
}
#billing .onway .loop-wrapper .rock {
  margin-top: -17%;
  height: 2%;
  width: 2%;
  bottom: -2px;
  border-radius: 20px;
  position: absolute;
  background: #ddd;
  animation: rock 4s -0.53s linear infinite;
}
#billing .onway .loop-wrapper .truck {
  transition: all ease;
  width: 85px;
  margin-right: -60px;
  bottom: 0px;
  right: 50%;
  position: absolute;
  background: #eee;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/130015/truck.svg) no-repeat;
  background-size: contain;
  height: 60px;
  animation: truck 4s 0.08s ease infinite;
}
#billing .onway .loop-wrapper .truck:before {
  content: " ";
  position: absolute;
  width: 25px;
  box-shadow: -30px 28px 0 1.5px #fff, -35px 18px 0 1.5px #fff;
  animation: wind 1.5s 0s ease infinite;
}
#billing .onway .loop-wrapper .wheels {
  transition: all ease;
  width: 85px;
  margin-right: -60px;
  bottom: 0px;
  right: 50%;
  position: absolute;
  background: #eee;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/130015/wheels.svg) no-repeat;
  height: 15px;
  margin-bottom: 0;
  animation: truck 4s 0.001s ease infinite;
}
@keyframes tree {
  0% {
    transform: translate(1350px);
  }
  100% {
    transform: translate(-50px);
  }
}
@keyframes tree2 {
  0% {
    transform: translate(650px);
  }
  100% {
    transform: translate(-50px);
  }
}
@keyframes tree3 {
  0% {
    transform: translate(2750px);
  }
  100% {
    transform: translate(-50px);
  }
}
@keyframes rock {
  0% {
    right: -200px;
  }
  100% {
    right: 2000px;
  }
}
@keyframes truck {
  6% {
    transform: translateY(0px);
  }
  7% {
    transform: translateY(-6px);
  }
  9% {
    transform: translateY(0px);
  }
  10% {
    transform: translateY(-1px);
  }
  11% {
    transform: translateY(0px);
  }
}
@keyframes wind {
  50% {
    transform: translateY(3px);
  }
}
@keyframes mtn {
  100% {
    transform: translateX(-2000px) rotate(130deg);
  }
}
@keyframes hill {
  100% {
    transform: translateX(-2000px);
  }
}

#detail {
  padding: 4rem;
}
#detail .detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#detail .detail .detail-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 20%;
}
#detail .detail .detail-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  height: 100%;
}
#detail .detail .detail-info h4 {
  color: rgb(183, 71, 42);
  font-weight: bold;
}
#detail .detail .detail-info p {
  color: rgb(119, 127, 130);
  font-style: italic;
  padding: 0 1rem;
}
@media only screen and (max-width: 767px) {
  #detail .detail {
    flex-direction: column;
  }
  #detail .detail .detail-img {
    width: 80%;
    margin-bottom: 1rem;
  }
  #detail .detail .detail-info p {
    padding: 0.3rem;
  }
}

#related {
  padding: 3rem;
}
#related h1 {
  font-size: 45px;
  color: rgb(162, 63, 37);
}
#related .related .related-img img {
  width: 100%;
}
#related .related .related-info {
  text-align: center;
  font-style: italic;
}
#related .related .related-info h4 {
  text-transform: uppercase;
  color: rgb(218, 178, 168);
}

#favs {
  padding: 4rem;
}
#favs .favs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
#favs .favs .fav {
  margin-bottom: 2rem;
}
#favs .favs .fav .fav-img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}
#favs .favs .fav .fav-content {
  text-align: center;
}/*# sourceMappingURL=main.css.map */